.section1-container{
    display: flex;
    width: 90%;
    height: 800px;
    margin: 0 auto;
    padding: 10px;
}

.slide-left{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
    border-radius: 20px;
}

.slide-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5em;
    width: 90%;
    margin-bottom: 130px;
}



.slide-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 110px;
    margin: 30px;
    padding: 10px;
}

.imgs{
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img-desc{
    margin-top: 2em;
    font-size: 12px;
    text-align: center;
    color: #333;
    font-weight: bolder;
}

.slide-right {
    flex: 2;
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: space-between; 
    background-color: #e9e9e9;
    margin-left: 10px;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
}

.slide-preview {
    width: 100%;
    height: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.slide-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 3s ease-in-out;
}

.right-image {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 3s ease-in-out;
}

.arrow-btn{
    position: absolute;
    top: 40%;
    border: none;
    background-color: #fff;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    transition: background-color 0.3s;
}


.arrow-btn.left{
    left: 0;
}

.arrow-btn.right{
    right: 0;
}

.scroll {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    padding: 10px;
    height: 110px; 
    box-sizing: border-box;
    background-color: #f9f9f9;
    border-radius: 12px;
    margin-bottom: 15px;
}


.scroll-img {
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s;
    
}


.scroll-img:hover {
    opacity: 1;
    transform: scale(1.05);
}

.scroll-img.active {
    border: 2px solid #333;
    opacity: 1;
}